 # editorconfig.org
 # root 应该始终在最顶部
 root = true
 
 # 为所有文件设置风格
 [*]
 charset = utf-8
 indent_style = space
 indent_size = 2
 end_of_line = lf
 trim_trailing_whitespace = true
 insert_final_newline = true
 
 # 为 Markdown 文件保留行尾空格
 [*.md]
 trim_trailing_whitespace = false
